body {
    padding: 0px;
    margin: 0px;
}

nav #nav-bar {
    background-color: whitesmoke;
    padding: 2px;

}

.nav {
    display: flex;
    color: black;
}

.nav-one {
    margin-left: 30px;
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: green;
}

.list ul {
    display: flex;
    list-style: none;
    margin-left: 100px;
    padding: 10px;
    font-size: 15px;
}

.madam {
    padding-left: 66px;
}

.sir {
    padding-left: 65px;
}

.baby {
    padding-left: 64px;
}

.woman {
    padding-left: 63px;
}

.man {
    padding-left: 62px;
}

.boy {
    padding-left: 61px;
}

.girl {
    padding-left: 60px;
}

a {
    text-decoration: none;
    color: black;
}

.sect {
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 600px;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('fruits.jpeg');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    position: relative;
}


.natural {
    padding-left: 30px;
    padding-right: 30px;
    ;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
}

h1 {
    font-size: 56px;
    display: block;
    margin-bottom: 20px;
}

p {
    font-size: 30px;
    margin-bottom: 30px;
    display: block;
    margin-top: 0px;
    margin-block-start: 26px;
    margin-block-end: 26px;
}

.learn {
    background-color: green;
    color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-top-color: green;
    border-bottom-color: green;
    border-right-color: green;
    border-left-color: green;
    font-weight: bold;
}

.contact {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-top-color: green;
    border-bottom-color: green;
    border-left-color: green;
    border-right-color: green;
    border-radius: 30px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-top: 10px;
    color: green;
    display: inline-block;
    background-color: transparent;
    font-weight: bold;
}

.mission {
    display: flex;
    padding: 40px;

}

.physical {
    display: block;
    width: 80%;
    height: auto;
    margin: 0%;
    border-collapse: collapse;
    border-radius: 30px;
    transition: 0.3 ease;
    display: block;
}

.our {
    float: left;
    font-size: 22px;
    float: right;
    margin-right: 0%;
    width: 80%;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 2px;
    color: #2C3E50;
    padding-right: 60px;
}

.mine {
    color: darkslategray;
    font-size: 30px;
    float: left;

}

.para {
    float: left;
    color: darkslategray;
    font-size: 20px;
}
paro{
    float: left;
    font-size: 40px;
    color: darkslategray;
}